/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: #646464;
}

/* HEADER */
header {
    width: 100%;
    background: #0a1a2f;
    padding: 15px 5%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: #f77f00;
}



/* SEÇÕES */
section {
    padding: 80px 10%;
    text-align: center;
}

/* CARDS DE SERVIÇOS */
.servicos .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #f1f1f1;
    padding: 30px;
    border-radius: 10px;
}

.card .icon {
    font-size: 40px;
}

/* MOTIVOS */
.porque .motivos {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.motivo {
    width: 250px;
}

.motivo .icon {
    font-size: 40px;
}

/* CONTATO */
.contato-box {
    background: #0a1a2f;
    color: white;
    padding: 40px;
    border-radius: 10px;
    margin-top: 20px;
}

.contato-box p {
    margin: 10px 0;
}

/* FOOTER */
footer {
    background: #0a1a2f;
    color: white;
    text-align: center;
    padding: 20px;
}
.hero {
  min-height: 100vh;
  height: auto;
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  overflow: hidden;
}

/* Cada imagem ocupa 1/3 da tela */
.hero-img {
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Aqui você coloca suas imagens */
.img1 {
  background-image: url('../rope-elite/images/fundo.jpg');
}

.img2 {
  background-image: url('../rope-elite/images/logo.png');
}
.img3 {
  background-image: url('../rope-elite/images/image.png');
}



/* Conteúdo por cima */
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(228, 98, 5);
  z-index: 10;
}

.hero-content h1 {
  font-size: 38px;
  margin-bottom: 20px;
}

.btn {
  background-color: #ff7700;
  padding: 12px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-img {
    height: 50px;
    width: auto;
}
.elite {
    color:#007bff;
    font-weight: bold;
}
.logo-area h1 {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    color: white;
}